<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" xmlns:vh="http://typo3.org/ns/Mattgold/Upaint/ViewHelpers/Be">
<f:layout name="Backend" />
<f:section name="content">
    <h1>Internationalisierung 2.0</h1>
    <h2>Kategorie</h2>
    <select class="form-control" id="categorySelector">
        <option value="{f:uri.action(action: 'questionlist')}">Alle anzeigen</option>
        <f:for each="{categories}" as="category">
            <option value="{f:uri.action(action: 'questionlist', arguments: '{\'category\': \'{category.uid}\'}')}" {f:if(condition: '{categoryId} == {category.uid}', then: 'selected')}>{category.title}</option>
        </f:for>
    </select>
    <div class="upaint_tile">
        <h2>Fragen</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width: 30px;">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <f:for each="{questions}" as="question">
                    <tr>
                        <th scope="row">{question.uid}</th>
                        <td>
                            <a title="Edit" href="{vh:BackendEditLink(tableName:'tx_upaint_domain_model_question',identifier:question.uid)}">
                                {question.title}
                            </a>
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>
</f:section>

</html>